header {
  min-height: 48px;
  padding-top: 20px;
  margin-bottom: 1rem;
}

main > section {
  min-height: calc(100vh - 96px - 2rem);
}
main {
  margin-bottom: 1rem;
}
footer {
  min-height: 48px;
  margin-top: 1rem;
}

h3.title {
  margin-top: 1.5rem;
}

#dashboard-options {
  margin-top: 5rem;
}

.tax-label {
  color: #363636;
  font-size: 1rem;
  font-weight: 700;
  padding-right: 5rem;
}

section.add-product {
  margin-bottom: 2rem;
}
