<section class="container">
  <h3 class="title is-3 has-text-centered">
    Inventory Prototype System
  </h3>
  <div id="dashboard-options" class="columns has-text-centered">
    <div class="column"><a href="/product/add">Add a product</a></div>
    <div class="column"><a href="/product/list">View products</a></div>
  </div>
</section>